@model PropertyManageSystem.Models.WInstallation

@{
    ViewData["Title"] = "编辑周边设施";
    Layout = "~/Views/Shared/_BackAdmin.cshtml";
}

<div class="container-fluid">
    <div class="row cm-fix-height">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading"><h2>编辑周边设施</h2></div>
                <div class="panel-body">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />

                        <div class="form-group">
                            <label asp-for="Title" class="control-label"></label>
                            <input asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Phone" class="control-label"></label>
                            <input asp-for="Phone" class="form-control" />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="MainName" class="control-label"></label>
                            <input asp-for="MainName" class="form-control" />
                            <span asp-validation-for="MainName" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="SpId" class="control-label">周边设施</label>
                            <select asp-for="SpId" class="form-control" asp-items="ViewBag.SpId"></select>
                            <span asp-validation-for="SpId" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Contents" class="control-label"></label>
                            <input asp-for="Contents" class="form-control" />
                            <span asp-validation-for="Contents" class="text-danger"></span>
                        </div>


                        <div class="form-group">
                            <input type="submit" value="保存编辑" class="btn btn-default" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

